.package-details-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
}

.detail {
  padding: 5px 0;
}

.detail strong {
  margin-right: 5px;
}

.confirm-button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Take full width of the parent container */
  margin-bottom: 1em;
}
