Package: python3-mmpm
Source: mmpm
Version: 2.0-1
Architecture: all
Maintainer: Brandon Marlowe <bpmarlowe-software@protonmail.com>
Installed-Size: 184
Depends: python3 (>= 3.2), python3-argcomplete, python3-bs4, python3-colorama, python3-eventlet, python3-flask (>= 1.1.1), python3-flask-cors, python3-flask-socketio, python3-gunicorn, python3-pkg-resources, python3-pygments, python3-requests, python3-socketio, python3-wheel, python3:any
Section: python
Priority: optional
Homepage: https://github.com/Bee-Mar/mmpm
Description: MMPM, the MagicMirror Package Manager CLI simplifies the ins
