<button mat-raised-button (click)="openDialog()">Add Module Source</button>

<mat-dialog-content>
    <mat-form-field>
      <mat-label>
        <input matInput [(ngModel)]="title" />
        <mat-error *ngIf="externalModuleFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-label>
      <mat-label>
        <input matInput [(ngModel)]="author" />
        <mat-error *ngIf="externalModuleFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-label>
      <mat-label>
        <input matInput [(ngModel)]="repository" />
        <mat-error *ngIf="externalModuleFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-label>
      <mat-label>
        <input matInput [(ngModel)]="description" />
      </mat-label>
      <mat-error *ngIf="externalModuleFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
</mat-dialog-content>
