[run]

include =
    mmpm/**/*.py

omit =
  */__pycache__/*
  */__init__.py
  */__version__.py
  __pypackages__/*
  test/*
  mmpm/entrypoint.py
  mmpm/subcommands/sub_cmd.py
  mmpm/subcommands/_sub_cmd*


