mmpm/__pycache__
__pycache__
build
dist
mmpm.egg-info
gui/build
gui/.clangd
configs/*.service
.mypy_cache
mmpm-gui.tar*.gz
lib/*.o
lib/libmmpm.so
NOTES.md
mmpm*.log
deb_dist
mmpm*tar.gz
mmpm/static
mmpm/templates
gui/src/assets/monaco
venv
.eggs
.coverage
notes.md
__pypackages__
TODO.md
htmlcov
.idea
