@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-cyan);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-cyan);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-dark-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}
