<h2 mat-dialog-title style="text-align: center">Package Details</h2>
<mat-dialog-content class="mat-typography" style="margin-left: 2em;">
  <p><strong>Title:</strong> {{ data.title }}</p>
  <p><strong>Category:</strong> {{ data.category }}</p>
  <p><strong>Author:</strong> {{ data.author }}</p>
  <p><strong>Repository:</strong> <a href="{{ data.repository }}" target="_blank"> {{ data.repository }} </a></p>
  <p><strong>Description:</strong> {{ data.description }}</p>
  <p><strong *ngIf="data.directory">Directory:</strong> {{ data.directory }}</p>
  <p><strong>Stars:</strong> {{ data["Stars"] ? data["Stars"] : "N/A" }}</p>
  <p><strong>Open Issues:</strong> {{ data["Open Issues"] ? data["Open Issues"] : "N/A" }}</p>
  <p><strong>Last Updated:</strong> {{ data["Last Updated"] ? data["Last Updated"] : "N/A" }}</p>
  <p><strong>Created:</strong> {{ data["Created"] ? data["Created"] : "N/A" }}</p>
  <p><strong>Forks:</strong> {{ data["Forks"] ? data["Forks"] : "N/A" }}</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="primary">
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-dialog-actions>
