<h2 style="text-align: center;">{{ data.title }} - {{ data.category }}</h2>
<div style="height: 70%; overflow-y: auto; margin-top: 3em;">
  <div style="display: flex; justify-content: space-evenly; text-align: center;">
    <span matTooltip="Stars">
      <mat-icon color="accent">
        star_rate
      </mat-icon>
      {{ data["Stars"] ? data["Stars"] : "N/A" }}
    </span>

    <span matTooltip="Open issues">
      <mat-icon style="color: yellow;">
        error_outline
      </mat-icon>
      {{ data["Open Issues"] ? data["Open Issues"] : "N/A" }}
    </span>

    <span matTooltip="Last updated">
      <mat-icon color="accent">
        schedule
      </mat-icon>
      {{ data["Last Updated"] ? data["Last Updated"] : "N/A" }}
    </span>

    <span matTooltip="Create date">
      <mat-icon color="accent">
        today
      </mat-icon>
      {{ data["Created"] ? data["Created"] : "N/A" }}
    </span>

    <span matTooltip="Forks">
      <mat-icon color="accent" style="transform: rotate(270deg)">
        share
      </mat-icon>
      {{ data["Forks"] ? data["Forks"] : "N/A" }}
    </span>

    <span>
      <button mat-button class="link-button" (click)="openUrl(data.repository)" matTooltip="Repository">
        <mat-icon color="accent">home</mat-icon>
      </button>
    </span>
  </div>
  <div style="text-align: center; margin-top: 1em;">
    <span matTooltip="Creator">
      <mat-icon color="accent">
        create
      </mat-icon>
      {{ data.author }}
    </span>
    <br>
    <br>
    <span *ngIf="data.directory" matTooltip="Installation path">
      <mat-icon color="accent">folder</mat-icon>
      {{ data.directory }}
    </span>

    <p style="margin-top: 3em;">
      {{ data.description }}
    </p>
  </div>

</div>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="primary">
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-dialog-actions>
