<h2 mat-dialog-title style="text-align: center">Available Upgrades</h2>
<div
  class="mat-typography"
  style="text-align: left; margin-left: 3em; overflow-y: auto; height: 70%;"
>
<mat-selection-list #packageUpgradeSelections>

  <div mat-subheader *ngIf="availableUpgrades?.mmpm || availableUpgrades?.MagicMirror">Applications</div>
  <mat-list-option *ngIf="availableUpgrades?.mmpm" [disabled]="true">
    <strong>MMPM (MagicMirror Package Manager)</strong><strong style="color: #33cc33"> Upgrade must be performed through CLI </strong>
  </mat-list-option>

  <mat-list-option *ngIf="availableUpgrades?.MagicMirror" [value]="MagicMirror">
    <strong>MagicMirror</strong>
  </mat-list-option>

  <mat-divider *ngIf="availableUpgrades?.packages?.length"></mat-divider>

  <div mat-subheader *ngIf="availableUpgrades?.packages?.length">Packages</div>
  <mat-list-option *ngFor="let pkg of availableUpgrades?.packages | keyvalue" [value]="pkg.value">
    <strong>{{ pkg.value.title }}</strong> <i>({{ pkg.value.repository }})</i>
  </mat-list-option>

  <div
    *ngIf="!availableUpgrades?.MagicMirror && !availableUpgrades?.mmpm && !availableUpgrades?.packages?.length"
    style="text-align: center; margin-right: 3em; margin-top: 10em;"
  >
    No upgrades available
  </div>
</mat-selection-list>
</div>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    (click)="upgradePackages(packageUpgradeSelections?.selectedOptions?.selected)"
    style="margin-right: 5em;"
    [disabled]="!packageUpgradeSelections?.selectedOptions?.selected?.length"
    >
    <mat-icon>
      done
    </mat-icon>
  </button>
  <button mat-raised-button mat-dialog-close color="accent">
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-dialog-actions>
