<h2 mat-dialog-title style="text-align: center">Active Process Details</h2>

<mat-dialog-content *ngIf="data.processes?.length; else display_empty" class="mat-typography" style="text-align: center;">

  <span *ngFor="let process of data.processes | keyvalue">
    <p><strong>Process:</strong> {{ process.value.name }}</p>
    <p><strong>Start Time:</strong> {{ process.value.startTime }}</p>
  </span>
</mat-dialog-content>

<ng-template #display_empty>
  <mat-dialog-content class="mat-typography" style="text-align: center; margin-top: 10em; margin-bottom: 10em;">
    No active processes
  </mat-dialog-content>
</ng-template>

<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-dialog-actions>

