<div style="display: flex; justify-content: space-evenly;">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [formControl]="title" required>
    <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Repository</mat-label>
    <input matInput [formControl]="repository" required>
    <mat-error *ngIf="repository.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput [formControl]="author" required>
    <mat-error *ngIf="author.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [formControl]="description" required>
    <mat-error *ngIf="description.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<button mat-stroked-button (click)="registerExternalModuleSource()">Click me!</button>
