/* Inside your component's SCSS file */
.category-icon-text {
  display: flex; /* Display the content in a row */
  align-items: center; /* Vertically center-align the content */
}

.category-icon-text i {
  margin-left: 20px; /* Adjust the right margin to control spacing between the text and the icon */
  font-size: 20px; /* Adjust the font size of the icon */
}

.category-icon-text i.pi-question {
  color: gray; /* Define a default color for the question mark icon */
}

.package-details-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
}

.detail {
  padding: 5px 0;
}

.detail strong {
  margin-right: 5px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.panel-content {
  display: flex;
  flex-direction: column;
  overflow: auto; /* Adds scrollbar if content is too long */
  max-height: 600px; /* You can adjust this as needed */
}

.confirm-shopping-cart-button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Take full width of the parent container */
  margin-bottom: 1em;
}

.install-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.remove-icon {
  position: absolute;
  left: 0;
  bottom: 0;
}
