mat-form-field {
  font-size: 14px;
  width: 90vw;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

td {
  text-align: left !important;
}

table tr.mat-row {
  height: 85px;
}

a {
  color: #21a6b8;
}

a:visited {
  color: #cf8313;
}
