.card-container {
  width: 95vw;
  height: 76vh;
  margin: 2vh auto;
  min-width: 1500px;
  min-height: 735px;
}

#homepage:link, #homepage:visited {
  color: white;
  text-decoration: none;
}

#homepage:hover {
  color: #ADADAD;
}

#homepage:active {
  color: white;
  text-decoration: none;
}
