.card-container {
  width: 95vw;
  height: 72vh;
  margin: 2vh auto;
  min-width: 1500px;
  min-height: 700px;
}

#homepage:link, #homepage:visited {
  color: white;
  text-decoration: none;
}

#homepage:hover {
  color: #ADADAD;
}

#homepage:active {
  color: white;
  text-decoration: none;
}

mat-toolbar {
  font-size: 42px;
  text-shadow: 3px 3px gray;
}

#banner {
  font-family: 'Permanent Marker', cursive;
}

#paypal:visited {
  color: white;
}

#paypal:active {
  color: lightgray;
}

#paypal:hover {
  color: #303030;
}

#theme-switcher:hover {
  color: #303030;
}
