<mat-toolbar color="primary">
  <span>MagicMirror Package Manager</span>
</mat-toolbar>

<mat-tab-group color="primary" mat-align-tabs="center">
  <mat-tab label="Marketplace" color="secondary">
    <mat-card class="card-container" style="text-align: center;">
      <app-magic-mirror-modules-table
        url="all-modules"
      ></app-magic-mirror-modules-table>
    </mat-card>
  </mat-tab>
  <mat-tab label="Local Packages">
    <mat-card class="card-container" style="text-align: center;">
      <app-magic-mirror-modules-table
        url="all-installed-modules"
      ></app-magic-mirror-modules-table>
    </mat-card>
  </mat-tab>
  <mat-tab label="External Sources" color="secondary">
    <mat-card class="card-container" style="text-align: center;">
      <app-magic-mirror-modules-table
        url="all-external-module-sources"
      ></app-magic-mirror-modules-table>
    </mat-card>
  </mat-tab>
  <mat-tab label="Terminal">
    <mat-card class="card-container">
      <iframe
        style="height: 100%; width: 100%;"
        src="http://127.0.0.1:7893"
      ></iframe>
    </mat-card>
  </mat-tab>
  <mat-tab label="MagicMirror Config">
    <mat-card class="card-container">
      <app-magic-mirror-config-editor></app-magic-mirror-config-editor>
    </mat-card>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
