<div class="logo-container">
  <a href="https://github.com/bee-mar/mmpm" target="_blank">
    <img src="/assets/MagicMirror-Package-Manager.png" alt="MagicMirror Package Manager Logo" style="padding: 30px" />
  </a>
</div>

<p-tabView [scrollable]="true" [(activeIndex)]="active_index" (onChange)="on_tab_change($event.index)">
  <p-tabPanel header="MagicMirror Controller" rightIcon="fa-solid fa-gamepad"> </p-tabPanel>

  <p-tabPanel header="Marketplace" rightIcon="fa-solid fa-shop">
    <app-mmpm-marketplace></app-mmpm-marketplace>
  </p-tabPanel>

  <p-tabPanel header="Config Editor" rightIcon="fa-solid fa-pen-to-square">
    <app-config-editor></app-config-editor>
  </p-tabPanel>

  <p-tabPanel header="Logs" rightIcon="fa fa-message">
    <app-log-stream-viewer></app-log-stream-viewer>
  </p-tabPanel>
</p-tabView>

<router-outlet></router-outlet>
