<h2 mat-dialog-title style="text-align: center">Installation Conflicts</h2>
<div>
  <mat-dialog-content class="mat-typography">
    <div *ngIf="data?.matchesInstalledTitles?.length">
      <h4>
        The following selected packages conflict with already installed packages:
      </h4>
      <div *ngFor="let module of data.matchesInstalledTitles | keyvalue">
        <mat-form-field
          appearance="fill"
          style="width: 50%;"
          >
          <mat-label>New Directory Name for {{ module.value.title }} ({{ module.value.repository }})</mat-label>
          <input
            matInput
            required
            style="width: 50%;"
            [formControl]="packageDirectoryFormControl"
            [(ngModel)]="module.value.directory"
            >
            <mat-error *ngIf="packageDirectoryFormControl.invalid">
              {{getErrorMessage(packageDirectoryFormControl)}}
            </mat-error>
        </mat-form-field>
      </div>
      <br>
    </div>

    <div *ngIf="data?.matchesSelectedTitles?.length">
      <h4>
        The following selected packages have conflicting titles:
      </h4>
      <div *ngFor="let module of data.duplicateTitles | keyvalue">
        <mat-form-field
          appearance="fill"
          style="width: 50%;"
          >
          <mat-label>New Directory Name for {{ module.value.title }} ({{ module.value.repository }})</mat-label>
          <input
            matInput
            required
            style="width: 50%;"
            [formControl]="packageDirectoryFormControl"
            [(ngModel)]="module.value.directory"
            />
          <mat-error *ngIf="packageDirectoryFormControl.invalid">
            {{getErrorMessage(packageDirectoryFormControl)}}
          </mat-error>
        </mat-form-field>
      </div>
      <br>
    </div>
  </mat-dialog-content>
</div>

<mat-dialog-actions align="center">
  <button mat-raised-button (click)="onCancel()">
    <mat-icon>
      close
    </mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    matTooltip="Submit"
    (click)="onSubmitNewDirectoryNames()"
    >
    <mat-icon>
      save
    </mat-icon>
  </button>
</mat-dialog-actions>

