<h2 mat-dialog-title style="text-align: center">Installation Conflicts</h2>
<mat-dialog-content class="mat-typography">

  <div *ngIf="data.existingTitles?.length">
    <p>
    The following selected packages conflict with already installed packages:
    </p>
    <ul *ngFor="let module of data.existingTitles | keyvalue" style="white-space: pre-wrap;">
      <li>{{ module.value.title }} ({{ module.value.repository }})</li>
    </ul>
    <mat-form-field *ngFor="let module of data | keyvalue" style="white-space: pre-wrap;">
      <mat-label>New Directory Name for {{ module.value.title }}</mat-label>
      <input matInput [(ngModel)]="module.value.directory">
    </mat-form-field>
  </div>

  <div *ngIf="data.duplicateTitles?.length">
    <p>
    The following selected packages have conflicting titles:
    </p>
    <ul *ngFor="let module of data.duplicateTitles | keyvalue" style="white-space: pre-wrap;">
      <li>{{ module.value.title }} ({{ module.value.repository }})</li>
    </ul>
    <mat-form-field *ngFor="let module of data | keyvalue" style="white-space: pre-wrap;">
      <mat-label>New Directory Name for {{ module.value.title }}</mat-label>
      <input matInput [(ngModel)]="module.value.directory">
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]="data">
    <mat-icon>
      close
    </mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    matTooltip="Submit"
    (click)="onSubmitNewDirectoryNames()"
    >
    <mat-icon>
      save
    </mat-icon>
  </button>
</mat-dialog-actions>


