<div class="dark-terminal">
  <code *ngFor="let item of data | keyvalue" style="white-space: pre-wrap;">
    <p style="color: red;">
    Error(s) encountered while installing {{ item.value.package.title }} ({{ item.value.package.repository }}):
    </p>
    <p>
    {{ item.value.error }}
    </p>
    <p style="color: yellow;">
    Due to unresolvable errors, {{ item.value.package.title }} ({{ item.value.package.repository }}) will need to be installed via the MMPM CLI or manually
    </p>
    <div style="height: 1px; background-color: #303030;"></div>
  </code>
</div>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="accent">
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-dialog-actions>
