[Unit]
Description=MMPM Gunicorn daemon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=1000
Type=notify
ExecStart=gunicorn --worker-class gevent --bind 0.0.0.0:7891 mmpm.wsgi:app --user=1000
ExecReload=/bin/kill -s HUP $MAINPID
PIDFile=/run/mmpm.pid
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
