name: MMPM Build Pipeline

on:
  push:
    branches:
      - "master"
      - "develop"
    tags:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker://beemar/python3-nodejs:python3.7.12-nodejs14.19.1
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/cache@v2
        with:
          path: |
            '**/node_modules'
             ~/mmpm/dist
             ~/.cache/pip
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Build Prep
        shell: bash
        run: |
          python --version
          pip --version
          mkdir -p ~/.config/mmpm/log
          touch ~/.config/mmpm/mmpm-cli-interface.log
      - name: Python Dependencies
        shell: bash
        run: |
          source scripts/ci/requirements.sh
          yes | mypy mmpm --install-types || true
      - name: Angular Dependencies
        shell: bash
        run: |
          source scripts/ci/export-env.sh
          cd gui
          npm install -g eslint @typescript-eslint/eslint-plugin@latest
          npm install
          cd ..
      - name: Python Tests
        shell: bash
        run: |
          source tests/ci/mypy.sh
          source tests/ci/pylint.sh
      - name: Angular Tests
        shell: bash
        run: |
          source scripts/ci/export-env.sh
          bash tests/ci/eslint.sh
      - name: Build & Bundle
        shell: bash
        run: |
          source scripts/ci/export-env.sh
          source scripts/ci/requirements.sh
          source scripts/ci/build-prod-gui.sh
          source scripts/ci/bundle-static-files.sh
          source scripts/ci/package-mmpm.sh
      - name: Publish to PyPi
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          skip_existing: true
          verbose: true
