.confirm-button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Take full width of the parent container */
  margin-bottom: 1em;
}
